<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="4">
    <test name="ChromeTests">
        <parameter name="browser" value="Chrome"> </parameter>
        <classes>
            <class name="Tests.SelectProductTest">
            </class>
        </classes>
    </test>
<!--    <test name="FirefoxTests">-->
<!--        <parameter name="browser" value="Firefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="Tests.SelectProductTest">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>